footer {
    width: 500px;
    background-color: #0bda2d;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer strong {
    color: #2c0beb;
    font-size: x-large;
}

footer hr {
    width: 90%;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(126, 6, 6, 0.4);
}

footer div {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

footer div p {
    color: rgba(192, 8, 8, 0.533);
    font-size: large;
    margin: 6px;
}